<%= form_with(model: pensamento, local: true) do |form| %>
  <% if pensamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pensamento.errors.count, "error") %> prohibited this pensamento from being saved:</h2>

      <ul>
      <% pensamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pensamento_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :pensamento_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
