<p id="notice"><%= notice %></p>

<h1>Pensamentos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pensamentos.each do |pensamento| %>
      <tr>
        <td><%= pensamento.name %></td>
        <td><%= pensamento.description %></td>
        <td><%= image_tag(pensamento.picture_url, :width => 300) if pensamento.picture.present? %></td>
        <td><%= link_to 'Show', pensamento %></td>
        <td><%= link_to 'Edit', edit_pensamento_path(pensamento) %></td>
        <td><%= link_to 'Destroy', pensamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pensamento', new_pensamento_path %>
