 

<p>
  <strong>Name:</strong>
  <%= @pensamento.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pensamento.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@pensamento.picture_url, width: 600) if @pensamento.picture.present? %>

  <h3>Comentários</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Tem certeza?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
</p>

<%= link_to 'Edit', edit_pensamento_path(@pensamento) %> |
<%= link_to 'Back', pensamentos_path %>
