<!DOCTYPE html>
<html>
  <head>
    <title>Breastfeeding Friends</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-sucess" >
  <div class="container">
    <a class="navbar-brand" href="/" style="color: #fdfdfd ">Breastfeeding Friends</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/pages/info" style="color: #fdfdfd ">Info</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/pensamentos" style="color: #fdfdfd">Pensamentos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href ="/pages/doadoras" style="color: #fdfdfd">Doadoras</a>
        </li>
      </ul>

      <p class="navbar-text float-right" style="color: #fdfdfd ">
<% if user_signed_in? %>
  Logado como: <strong><%= current_user.username %></strong>.
  <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
<% else %>
  <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    </div>
  </div>
</nav>

   <div class="container">
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  	<%= yield %>
  </div>

  <footer>
  <div class="container" color: #fdfdfd >
  Breastfeeding Friends <%= Time.now.year %>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
